port = ":{{ .Env.PORT }}"
logLevel = "{{ .Env.LOG_LEVEL }}"
{{ if eql .Env.ACCESS_LOGS "enabled" }}
accessLogFile = "/dev/stdout"{{ end }}

{{ if eql .Env.WEB "enabled" }}
[web]
address = ":{{ .Env.WEB_PORT }}"
{{ if has_key .Env "WEB_READ_ONLY" }}
ReadOnly = true{{ end }}
{{ end }}

{{ if eql .Env.ETCD "enabled" }}
[etcd]
  endpoint = "{{ .Env.ETCD_ENDPOINT }}"
  watch = true
  prefix = "{{ default .Env.ETCD_PREFIX "/traefik" }}"
{{ end }}
{{ path "/" }}